<h1>Driver Details</h1>

<div>
  <p><strong>First Name:</strong> <%= @driver.first_name %></p>
  <p><strong>Last Name:</strong> <%= @driver.last_name %></p>
  <p><strong>Email:</strong> <%= @driver.email %></p>
  <p><strong>Phone Number:</strong> <%= @driver.phone_number %></p>
</div>

<h2>Routes:</h2>
<ul>
  <% @driver.routes.each do |route| %>
    <li><%= route.number %> - <%= route.coverage %></li>
  <% end %>
</ul>
